* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://source.unsplash.com/1600x900/?vilnius");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  align-items: center;
  padding: 0px 70px;
  color: #fff;
}

.date-container .time {
  font-weight: 100;
}

.time-string {
  margin-left: 20px;
}


.future-forecast {
  background: rgba(32, 32, 32, 0.8);
  padding: 25px;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  color: rgb(255, 255, 255);
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.today {
  display: flex;
  align-items: center;
  justify-content: center;
}

.day {
  padding: 5px;
  margin-top: -15px;
  background: #3c3c44;
  border-radius: 20px;
  text-align: center;
}

.temperature {
  padding: 10px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.temp-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: top;
  height: 140px;
}

.temp-inner {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.weather-forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  border-radius: 10px;
  max-height: 200px;
  background-color: #00000091;
}

@media only screen and (max-width: 730px) {
  .future-forecast {
    justify-content: start;
    align-items: none;
    overflow-x: scroll;
  }
}

.card {
  background-color: #000000d0;
  color: #fff;
  padding: 2rem;
  border-radius: 30px;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

input.search-bar {
  border: none;
  padding: 0.5rem;
  border-radius: 24px;
  background-color: #7c7c7c2b;
  color: #fff;
  font-size: 120%;
}

i {
  font-size: 1.5rem;
}

.feelsLike,
.temp,
.city {
  margin: 10px 0;
}

.temp {
  font-size: 3rem;
}

.daylength,
.description,
.humidity,
.sunrise,
.sunset,
.wind {
  margin: 10px 0;
}

.loading {
  display: none;
}